/*
css for sandstone triangular diagram builder
*/
body{
width: 100%;
font: 16px/22px "Microsoft YaHei",Verdana,Arial;
background-color: #f1f4f6;
margin:0;
padding: 0;
text-align: center;
}
*{text-align: center;}
div{color: rgb(68,119,145);line-height: 20px;}
div.container{position: relative;width: 1500px;height: 100%;}
div.page{float: left;width:1400px;left:50px;margin: 30px ;
  clear: both;padding-bottom: 20px;}
fieldset{margin-top: 50px;}
legend{text-align: left;margin-left: 5%}
input{
  display: inline;
  text-align: left;
  margin:10px 15px;width: 550px;
      height: 30px;
      font: 16px Arial;
      background-color: #FFFFFF;
      border:2px solid #02A0E9; 
      border-radius:5px;}
input::-webkit-input-placeholder{color:black;font:16px Arial;}
input::-ms-input-placeholder{color:black;font:16px Arial;}
input::-moz-placeholder{color:black;font:16px Arial;}
.warn{color:red; font: 16px bold Arial}
#showarea{ position:relative;top:50px;text-align:center;margin-top:50px;text-decoration: none;line-height:1rem;}
#showarea:hover,#showarea:focus{line-height:2rem;word-spacing:9px;font-weight: 600px;font-size: 20px;cursor: pointer;}
textarea { margin-left:auto;text-align: left;  width:600px;background-color:white;border:2px solid #02A0E9; border-radius:5px;}
#txtinput{visibility: hidden;position:relative;top:-200px;}
button {
  position: relative;
  left: 50px;
  margin-left: auto;
  margin-top: 17.5px;
  margin-right:5rem;
  width: 150px;
  font-size: 1rem;
  line-height: 2;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to bottom right, #eee, rgb(68,119,145));
  box-shadow: 1px 1px 1px black,
              inset 2px 3px 5px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
}
button:focus, button:hover {
  background-image: linear-gradient(to bottom right, #222, rgb(68,119,145));
  color: #B5D5E8; 
}

button:active {
  box-shadow: inset 2px 2px 1px black,
              inset 2px 3px 5px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
}
div#datasource {float: left;margin-left: 50px;}
div#diagramwithtitle {float: left;margin:50px 50px;}
canvas{border: 1px solid #d3d3d3; background-color: white;}
div#explain{padding: 20px;color: black;}
ul{
	list-style-type:none;
}
li{display:inline;}

footer{clear:left;width:100%;line-padding:20px;height: 160px;min-height: 150px;}

a:link,a:visited {text-decoration:none; color:rgb(68,119,145);}
a:hover{text-decoration:none;color:#02A0E9;}
a:active{text-decoration:none;background-color:#02A0E9;color:white;font:bolder;}